{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <title>Forex</title>
    </head>
    <body>
        <div id="forexapp">
            <div class="container" id="trades-list">
                <h1>Booked Trades</h1>
                <div class="pull-right">
                    <button class="btn btn-primary" id="new-trade-btn">New Trade</button>
                </div>
                {% if trades_list %}
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Sell CCY</th>
                            <th>Sell Amount</th>
                            <th>Buy CCY</th>
                            <th>Buy Amount</th>
                            <th>Rate</th>
                            <th>Date Booked</th>
                        </tr>
                        {% for trade in trades_list %}
                        <tr>
                            <td>{{ trade.sell_currency }}</td>
                            <td>{{ trade.sell_amount }}</td>
                            <td>{{ trade.buy_currency }}</td>
                            <td>{{ trade.buy_amount }}</td>
                            <td>{{ trade.exchange_rate }}</td>
                            <td>{{ trade.date_booked }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No trades are available.</p>
                {% endif %}
            </div>
            <div class="container" id="booking-form" style="display: none;">
                <h1>New Trade</h1>
                <div class="row">
                    <div class="col-md-1">
                        <label for="sell_currency" class="text-center">Sell Currency</label>
                        <select id="sell_currency">
                        </select>
                    </div>
                    <div class="col-md-10 text-center">
                        <label>Rate</label>
                        <span id="trade-rate">1.000000</span>
                    </div>
                    <div class="col-md-1">
                        <label for="buy_currency" class="text-center">Buy Currency</label>
                        <select id="buy_currency">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label for="sell_amount" class="text-center">Sell Amount</label>
                        <input type="text" id="sell_amount" name="sell_amount"/>
                    </div>
                    <div class="col-md-10">
                        &nbsp;
                    </div>
                    <div class="col-md-1">
                        <label for="buy_amount" class="text-center">Buy Amount</label>
                        <input type="text" id="buy_amount" name="buy_amount" disabled/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="errors">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <button class="btn btn-primary" id="book-trade-btn">Create</button>
                    </div>
                    <div class="col-md-10">
                        &nbsp;
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-secondary" id="cancel-trade-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="{% static "forex/app.js" %}"></script>
    <script type="text/template" id="symbol-template">
        <option value="<%= symbol %>"><%= symbol %></option>
    </script>
    </body>
</html>
